label{
  color: black;
    font-size: 20px;
    border: 0.56px solid grey;
    padding: 12px 24px;
    width: 100%;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    margin-bottom: 8px;
    background-color: #F2F2F2;
}
input[type="radio"]:checked + label{
  background-color: #FFC200;
}
