footer {
  background: #F2F2F2;
  padding: 32px;
  display: flex;
  align-items: center;
  border-top: 1px solid #CDCDCD;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
}

.price {
  font-size: 40px;
}

button, button:hover {
  padding: 8px 24px;
    font-size: 20px;
    border-radius: 20px;
}
