<template>
  <div class="slds-grid slds-wrap">
    <div class="slds-col slds-size_12-of-12">
      <img src="/public/assets/honda/vti/ignite_red.png" alt="Honda Image" />
    </div>
    <div
      class="slds-col slds-size_12-of-12 slds-large-size_4-of-12 slds-text-align_center"
    >
      <div class="slds-text-heading_large">
        <strong>7</strong>
      </div>
      <div class="slds-text-heading_medium">
        Fuel Consumption (miles/gallon)<sup>Est.</sup>
      </div>
    </div>
    <div
      class="slds-col slds-size_12-of-12 slds-large-size_4-of-12 slds-text-align_center"
    >
      <div class="slds-text-heading_large">
        <strong>5</strong>
      </div>
      <div class="slds-text-heading_medium">Seating Capacity</div>
    </div>
    <div
      class="slds-col slds-size_12-of-12 slds-large-size_4-of-12 slds-text-align_center"
    >
      <div class="slds-text-heading_large">
        <strong>17"</strong>
      </div>
      <div class="slds-text-heading_medium">Alloy Wheels</div>
    </div>
  </div>
</template>
