<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Honda Clone</title>

  <!-- <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/design-system/2.22.0/styles/salesforce-lightning-design-system.min.css" /> -->

  <!-- <link rel="stylesheet" href="public/assets/slds.css"> -->
  <link rel="stylesheet" href="public/assets/styles/salesforce-lightning-design-system.css"/>
  <link rel="stylesheet" href="public/assets/globalStyle.css" />
  <link rel="icon" href="public/assets/hfavicon.png" />
</head>

<body>
  <components-navbar></components-navbar>
  {{{body}}}
  {{{lwr_resources}}}
</body>

</html>
